# Ignore everything
/*

# But not these files everywhere...
!**/.gitattributes
!**/.gitignore
!**/.github
!**/README.md
!**/LICENSE

# Or these specific files
!go.mod
!go.sum
!.configs/

# And not these folders
!api/
!internal/
!pkg/
