name: Build & Push MegaLinter Custom Flavor

on:
  push:
    branches:
      - "megalinter"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-custom-flavor:
    name: Build Custom MegaLinter Flavor
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Custom MegaLinter Flavor
        shell: bash
        run: |
          # BUILD CUSTOM MEGALINTER FLAVOR
          docker run --rm \
            -v /var/run/docker.sock:/var/run/docker.sock:rw \
            -v ${{ github.workspace }}:/github/workspace \
              -e GITHUB_TOKEN=${{ env.GITHUB_TOKEN }} \
              -e CUSTOM_FLAVOR_BUILD_REPO=${{ github.repository }} \
              -e CUSTOM_FLAVOR_BUILD_REPO_URL=${{ github.repositoryUrl }} \
              -e CUSTOM_FLAVOR_BUILD_USER=${{ github.actor }} \
            ghcr.io/oxsecurity/megalinter-custom-flavor-builder:latest

      - name: Tag and Push Docker Image
        shell: bash
        run: |
          # TAG AND PUSH DOCKER IMAGE
          IMAGE_NAME=$(echo "${{ github.repository }}" | tr '/' '_')
          IMAGE_VERSION=$(docker inspect --format='{{index .Config.Labels "org.opencontainers.image.version"}}' $IMAGE_NAME)
          echo "Custom flavor Image Name: $IMAGE_NAME"
          echo "Custom flavor Image Version: $IMAGE_VERSION"
          
          echo "Pushing to GitHub Container Registry (GHCR)..."
          docker tag $IMAGE_NAME ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/megalinter-custom-flavor:$IMAGE_VERSION
          docker push ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/megalinter-custom-flavor:$IMAGE_VERSION
          docker tag $IMAGE_NAME ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/megalinter-custom-flavor:latest
          docker push ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/megalinter-custom-flavor:latest
          echo "Pushed custom flavor image: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/megalinter-custom-flavor:latest"
          echo "Pushed custom flavor image: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/megalinter-custom-flavor:$IMAGE_VERSION"

