name: Build & Push MegaLinter Custom Flavor

on:
  push:
    branches:
      - "megalinter"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-custom-flavor:
    name: Build Custom MegaLinter Flavor
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Custom MegaLinter Flavor
        shell: bash
        run: |
          # BUILD CUSTOM MEGALINTER FLAVOR
          docker run --rm \
            -v /var/run/docker.sock:/var/run/docker.sock:rw \
            -v ${{ github.workspace }}:/github/workspace \
              -e GITHUB_TOKEN=${{ env.GITHUB_TOKEN }} \
              -e CUSTOM_FLAVOR_BUILD_REPO=${{ github.repository }} \
              -e CUSTOM_FLAVOR_BUILD_REPO_URL=${{ github.repositoryUrl }} \
              -e CUSTOM_FLAVOR_BUILD_USER=${{ github.actor }} \
            ghcr.io/oxsecurity/megalinter-custom-flavor-builder@sha256:cd2aac1571be2858f6d221e2ecf9fd347e049c9d4d210d52b9b19c1b192afb36

      - name: Tag and Push Docker Image
        shell: bash
        env:
            OWNER: "${{ github.repository_owner }}"
            REPO: "${{ github.repository }}"
            REPO_NAMZ: "${{ github.event.repository.name }}"
        run: |
          # TAG AND PUSH DOCKER IMAGE
          IMAGE_NAME="$(echo "$REPO" | tr '/' '_')"
          IMAGE_VERSION="$(
              docker inspect --format='{{index .Config.Labels "org.opencontainers.image.version"}}' $IMAGE_NAME
          )"
          echo "Custom flavor Image Name: $IMAGE_NAME"
          echo "Custom flavor Image Version: $IMAGE_VERSION"
          
          echo "Pushing to GitHub Container Registry (GHCR)..."
          for VERSION in "$IMAGE_VERSION" "latest"; do
              TAG="ghcr.io/$OWNER/$REPO_NAME/megalinter-custom-flavor:$IMAGE_VERSION"
              docker tag "$IMAGE_NAME" "$TAG"
              docker push "$TAG"
              echo "Pushed custom flavor image: $TAG"
          done
