# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go Build & Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  pull-requests: read
  
jobs:
  build:
    strategy:
      matrix:
        go-version: ['1.23', 'stable', 'oldstable']
        os: [ubuntu-latest, windows-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout project
        uses: actions/checkout@v6.0.0

      - name: Linters
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6

      - name: Set-up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
