---
name: "Linter workflow"

on:
  pull_request:
    branches:
      - "main"

permissions:
  contents: "read"
  pull-requests: "write" # for comment

jobs:
  linter:
    name: "Linter ${{ github.event_name }}"
    runs-on: ["ubuntu-latest"]
    steps:
      # Checkout code
      - name: "Checkout project"
        uses: "actions/checkout@v6.0.0"

      # Run linter
      - name: "Run static analysis"
        id: linter
        uses: "oxsecurity/megalinter/flavors/go@v9.2.0"
        continue-on-error: true
        env:
          SARIF_REPORTER: "true"
          DISABLE_LINTERS: >-
            SPELL_CSPELL
          GO_REVIVE_CONFIG_FILE: ".configs/revive.toml"
          GO_GOLANGCI_LINT_CONFIG_FILE: ".configs/.golangci.yml"

      # Upload linter artifacts
      - name: "Archive linter artifacts"
        uses: "actions/upload-artifact@v4"
        with:
          name: "linter reports"
          path: |
            megalinter-reports
            mega-linter.log

      # Send results to PR
      - name: "Upload MegaLinter scan results to GitHub"
        uses: "github/codeql-action/upload-sarif@v4"
        with:
          sarif_file: "megalinter-reports/megalinter-report.sarif"

      # Assert linter passes
      - name: "Validate linter passes"
        if: "steps.linter.outcome == 'failure'"
        shell: "bash"
        run: "echo 'Linter return issues' && exit 1"
